<footer class="page_footer ls ms s-pt-80 s-pb-70 s-py-lg-120 s-pt-xl-135 s-pb-xl-105 c-gutter-60 text-center text-md-left">
    <div class="container footer_container">
        <div class="row footer_elements">
            <div class="divider-20 d-none d-xl-block"></div>

            <div class="col-md-6 col-xl-3 order-xl-1 order-md-1 animate ">

                <div class="widget widget_text">
                    <h4 class="widget-title">About</h4>
                    <p>
                        Quick software solutions offers unified telecommunications to the business Market with their specific needs and demands in mind.
                    </p>
                    <div class="widget widget_social_buttons">
                        <a href="#" target="_blank" class="fa fa-facebook color-bg-icon rounded-icon" title="facebook"></a>
                        <a href="#" target="_blank" class="fa fa-linkedin color-bg-icon rounded-icon" title="linkedin"></a>
                        <a href="#" target="_blank" class="fa fa-instagram color-bg-icon rounded-icon" title="instagram"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 order-xl-2 order-md-4 animate ">
                <div class="widget links">
                    <h4 class="widget-title">Data</h4>
                    <ul>
                        <li class="cat-item"><a class= "nav-item"href="/swift_fibre">Swift fibre </a></li>
                        <li class="cat-item"><a class= "nav-item" class= "nav-item"  href="/nbn">NBN</a></li>
                    </ul>
                    <h4 class="widget-title">Dialpad</h4>
                    <ul>
                        <li class="cat-item"><a  class= "nav-item" href="/dialpad_talk">Dialpad Talk</a></li>
                        <li class="cat-item"><a class= "nav-item"  href="/dialpad_sales_dialer">Dialpad Sales Dialer</a></li>
                        <li class="cat-item"><a  class= "nav-item" href="/dialpad_contact_centre">Dialpad Contact Centre</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 order-xl-3 order-md-3 animate ">
                <div class="widget services-links">
                    <h4 class="widget-title">Voice</h4>
                    <ul>
                        <li class="cat-item"><a  class= "nav-item" href="/business_sip_voice">Business SIP voice</a></li>
                        <li class="cat-item"><a  class= "nav-item" href="/business_phone_system">Business Phone Systems</a></li>
                        <li class="cat-item"><a  class= "nav-item" href="/inbound_voice">Inbound voice</a></li>
                    </ul>
                    <h4 class="widget-title">Cloud & IoT</h4>
                    <ul>
                        <li class="cat-item"><a class= "nav-item" href="/cloud_services">Cloud Services</a></li>
                        <li class="cat-item"><a  class= "nav-item" href="/iot_services">IOT Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 order-xl-4 order-md-2 animate ">
                <div class="widget widget_icons_list">
                    <h4 class="widget-title">Contact US</h4>
                    <p><a href="tel:130000"><i class="fa color-main fs-14 fa-phone"></i> Quick software solutions</a>, <a href="tel:+61419475986">+61419475986 </a></p>
                    <a href="http://www.quicksoftwaresolutions.au/contact_Quick_software_solutions" class="small-text">
                        <i class="fa fa-envelope-o color-main fs-14"></i>
                        quicksoftwaresolutions.au/contact
                    </a>
                    <h4>&nbsp;</h4>
                    <p>Quick software solutions <br>8 topiary Avenue, 
                        Piarawaters <br>6112 wa 
                        </p>

                </div>
                <div class="divider-45 d-none d-md-block d-xlz-none"></div>
            </div>
        </div>
    </div>
</footer>
<section class="page_copyright ds s-py-10 copyright-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="divider-15 d-none d-lg-block"></div>
            <div class="col-md-12 text-center">
                <p>&copy; Copyright <span class="copyright_year">2022</span><a href="http://www.quicksoftwaresolutions.au/">  / Quick Software Solutions</a> </p>
            </div>
            <div class="divider-15 d-none d-lg-block"></div>
        </div>
    </div>
</section>


</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->

<script src="https://gentle-ocean-25670.herokuapp.com/js/main.js" type="text/javascript"></script>
<!-- linking jquery -->
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>


</body>

</html>
