<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>Quick software solutions</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="Quick software solutions offers unified telecommunications to the business Market with their specific needs and demands in mind">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="https://gentle-ocean-25670.herokuapp.com/images/favicon.ico" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- linking bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	
	
	<!-- linking our own style sheet -->
	<link rel="stylesheet" href="https://gentle-ocean-25670.herokuapp.com/css/style.css">
	<!-- <link rel="stylesheet" href="https://gentle-ocean-25670.herokuapp.com/css/services.css"> -->

	<!-- google font link -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;700;900&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
	<!-- linking bootstrap icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<!-- linking fontawesome icon
   -->
	<script src="https://kit.fontawesome.com/1c27919af6.js" crossorigin="anonymous"></script>

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- <link rel="stylesheet" href="https://gentle-ocean-25670.herokuapp.com/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://gentle-ocean-25670.herokuapp.com/css/animations.css">
	<link rel="stylesheet" href="https://gentle-ocean-25670.herokuapp.com/css/font-awesome.css">
	<link rel="stylesheet" href="https://gentle-ocean-25670.herokuapp.com/css/main.css" class="color-switcher-link">





</head>
<!-- onload is used to add preloader icon until body is loaded using loading function form main js  -->
<body  onload="loading()">

<!-- preloader starts  -->
	
		<div class="preloadericon dot0"> 
			<div class="dot dot1"> </div>
			<div class="dot dot2"> </div>
			<div class="dot dot3"> </div>
			<div class="dot dot4"> </div>
			<div class="dot dot5"> </div>
			</div>
	<!-- preloader ends  -->

<!-- alertbox starts  -->
<div class="alertmsg fadeInUp" ><div class="exitalert">X</div> <div class="alertbg fadeInUp" > Thanks, we have got your concern!.<br> Our team will get in touch with you soon</div></div>


<!-- alertbox ends  -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<section class="page_topline ls s-borderbottom c-my-20">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-md-12 text-center text-md-right d-none d-md-block">
							<ul class="top-includes">
								<li>
									<span class="icon-inline">
										<span class="icon-styled color-main fs-14">
											<i class="fa fa-phone"></i>
										</span>
										<span class="small-text">
											<a href="tel:+61419475986">+61419475986</a>, <a href="tel:+61419475986">+61419475986 </a>
										</span>
									</span>
								</li>
								<li>
									<span class="icon-inline">
										<span class="icon-styled color-main fs-14">
											<i class="fa fa-envelope-o"></i>
										</span>
										<span class="small-text">
											<a href="mailto:info@/Quick_software_solutions.com.au"><span class="__cf_email__">info@/Quick_software_solutions.com.au</span></a>
										</span>
									</span>
								</li>
								<li>
									<!-- <span class="icon-inline">
										<span class="icon-styled color-main2 fs-14">
											<i class="fa fa-user"></i>
										</span>
										<span class="small-text">
											<a class="hover-main2" href="https://myaccount.Quick software solutions.com.au/" target="_blank"> my account</a>
										</span>
									</span> -->
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>


			<div class="header_absolute header_layout_1">
				<div id="particles-js"></div>
				<!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
				<header class="page_header ls justify-nav-end">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-3 col-md-5 col-11">
								<a href="/" class="logo">
									<img class="logoimg" style=" top: -102px !important;
									max-height: 181px !important;
									max-width: 213px !important; position: absolute; width: 150%;"src="images/QSlogo.png" alt="Quick software solutions" />
								</a>
							</div>
							<div class="col-xl-10 col-lg-9 col-md-7 col-1 navbaritm">
								<div class="nav-wrap navbaritm">

									<!-- main nav start -->
									<nav class="top-nav">
										<ul class="nav sf-menu">


											<li><a href="/">Home</a></li>
											
											<!-- adding services page_header -->
											
											<li><a href="/services">Services</a></li>

											<!-- end  -->

											<!-- creating dropdown for products  -->
											<li><a href="#">Products &nbsp;<i class="fa fa-caret-down"></i></a>
												<ul class="submenuli">
													
													<li><a href="#">Data &nbsp;<i class="fa fa-caret-down"></i></a>
														<ul class="submenuli">
															<li><a href="/swift_fibre">Swift fibre </a></li>
															<li><a href="/nbn">NBN</a></li>
														</ul>
													</li>
		
													<li><a href="#">Dialpad &nbsp;<i class="fa fa-caret-down"></i></a>
														<ul class="submenuli">
															<li><a href="/dialpad_talk">Dialpad Talk</a></li>
															<li><a href="/dialpad_sales_dialer">Dialpad Sales Dialer</a></li>
															<li><a href="/dialpad_contact_centre">Dialpad Contact Centre</a></li>
														</ul>
													</li>
		
													<li><a href="#">Voice &nbsp;<i class="fa fa-caret-down"></i></a>
														<ul class="submenuli">
															<li><a href="/business_sip_voice">Business SIP voice</a></li>
															<li><a href="/business_phone_system">Business Phone System</a></li>
															<li><a href="/inbound_voice">Inbound voice</a></li>
														</ul>
													</li>
		
													<li><a href="#">Cloud & IoT &nbsp;<i class="fa fa-caret-down"></i></a>
														<ul class="submenuli">
															<li><a href="/cloud_services">Cloud Services</a></li>
															<li><a href="/iot_services">IoT Services</a></li>
														</ul>
													</li>
		


												</ul>
											</li>

											<!-- products dropdown ends  -->

											
											<li><a href="#">About us &nbsp;<i class="fa fa-caret-down"></i></a>
												<ul class="submenuli">
													<li><a href="/about_Quick_software_solutions">About Quick software solutions</a></li>
													<li><a href="/partner_reseller_with_Quick_software_solutions">Partner with Quick software solutions</a></li>
													<li><a href="/customer_referral">Customer Referral</a></li>
												</ul>
											</li>

											<li><a href="/contact_Quick_software_solutions">Contact Quick software solutions</a></li>


										</ul>


									</nav>
									<!-- eof main nav -->

									<!--hidding includes on small devices. They are duplicated in topline-->


								</div>
							</div>
						</div>
					</div>
					<!-- header toggler -->
					<span class="toggle_menu"><span></span></span>
				</header>
            </div>