<!-- animation section for mouse scroll start -->
<section class="page_title cs s-pt-60 s-pb-10 s-pt-lg-130 s-pb-lg-60 page_title text-center">
    <div class="hex cs s-pt-60 s-pb-10 s-pt-lg-130 s-pb-lg-60 text-center">
    </div>
    <div class="bg cs s-pt-60 s-pb-10 s-pt-lg-130 s-pb-lg-60  text-center">



    </div>
    <div class="container-fluid onTop">
        <div class="row">

            <div class="divider-60"></div>

            <div class="col-md-12 text-center">
                <h1><%= Subtitlepage %></h1>
            </div>

            <div class="divider-50"></div>

        </div>

    </div>
    <ol class="breadcrumb full-width onTop">
        <li class="breadcrumb-item">
            <a href="./">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">  <%= Titlepage %> </a>
        </li>
        <li class="breadcrumb-item active">
            <%= Subtitlepage %>
        </li>
    </ol>

<!-- </div> -->
</section>
<!-- linking javascript required for the animation of hexagon and mouse trace  -->
<script src="js/animation.js" type="text/javascript"></script>

<!-- animation section closed -->