<%- include("partials/header"); -%>

<%- include("partials/scrollanimation"); -%>

<!-- content part starts  -->
<section class="ls s-pt-75 s-pb-80 s-pb-lg-100 about-section text-center text-lg-left">
    <div class="d-none d-lg-block divider-10"></div>
    <div class="container">
        <div class="row align-items-center">
            
            
            <div class="col-12 col-lg-12 order-2 order-lg-1 text-center" style="margin-bottom: 70px;">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <h5>At Quick software solutions, we created a telco that’s designed to lead the market with next generation technology.</h5>
                    
                </div>
            </div>
            
            <div class="col-12 col-lg-6 order-2 order-lg-2">
                <div class="about-image">
                    <img src="https://gentle-ocean-25670.herokuapp.com/images/about_us-1.png" alt="">
                </div>
            </div>

            <div class="col-12 col-lg-6 order-1 order-lg-3">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <p class="big text-justify">Quick software solutions offers a comprehensive suite of telecommunication products and services including phone systems, unified tele-communications, cloud solutions, and customised IOT Solutions to its customers. Our industry-leading communication solutions enable businesses to create and operate high quality, service assured, intelligent and integrated networks.<br><br>
                        
                    Businesses both large and small, depend on our consistent delivery of advanced solutions, enabling them to stay ahead of the growth curve while keeping cost to a bottom.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ds s-pt-80 s-pb-20 s-pt-lg-120 s-pb-lg-70 s-pt-xl-160 s-pb-xl-100 c-gutter-60 c-mb-50 background-gradient advantage-section cover-background">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-lg-6 order-1 order-lg-4">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <p class="big text-justify">We are experts in enhancing business capabilities through technology which in turn helps businesses to preserve and enlarge their base with continuously improving quality of service without service interruption.<br><br>
                        
                    At Quick software solutions we offer all the products you need to future proof your business from one, reliable partner. Cloud. Business Phones. Hosted Voice. Conferencing. Call Centre. Mobility. Data Networks. Internet. NBN. Cloud Firewall. Managed Services. Network Management. Reporting & Analytics. Hardware. And more.<br><br>
                        
                    Through our strong challenger telco business, we bring together minimalism, usefulness, and opportuneness.</p>
                    
                </div>
            </div>
            
            <div class="col-12 col-lg-6 order-2 order-lg-5">
                <div class="about-image">
                    <img src="https://gentle-ocean-25670.herokuapp.com/images/about_us.png" alt="">
                </div>
            </div>
            
        </div>
        
        <div class="plan-button">
            <a href="/contact_Quick_software_solutions" class="btn btn-maincolor"><span>Get Started</span></a>
        </div>
        
    </div>
</section>






<!-- content part ends  -->
<%- include("partials/footer"); -%>