<%- include("partials/header"); -%>

<%- include("partials/scrollanimation"); -%>

<!-- content part starts  -->

<section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-100 booking-form container-px-30">


    <div class="container">
        <div class="row">
            <div class="col-lg-8 animate scaleAppear" >

                <h5 class="text-center text-md-left special-heading">
                    Get Started today<br><br>
                    <span><strong>Connect with us now !</strong></span>
                </h5>
                <div class="divider-50 d-none d-xl-block"></div>
                <form class="contact-form c-mb-10 c-mb-md-20 c-gutter-20 text-center text-md-left" >
                    
                    <!-- Janrise Forms -->
                    <div id="c21">
                        <div class="form-group">
                            <label class="required form-label"  for="contact_prsn">Contact Person</label>
                            <input required class="form-control" type="text" id="contact_prsn" placeholder=" " name="contact_person">
                        </div>
                      
                       <div class="form-group">
                        <label class="required form-label" for="nameofC">Name of the company</label>
                        <input   required class="form-control" type="text" id="nameofC" placeholder=" " name="nofcompany">
                       </div>
                       
                       
                       <div class="form-group">
                        <label class="required form-label" for="mob_no">Mobile Number</label>
                        <input  required  class="form-control" type="number" id="mob_no" placeholder=" " name="mobno">
                    </div>

                      
                    
                       <div class="form-group">
                        <label class="required form-label" for="email">Email</label>
                       <input  required  class="form-control" type="email" id="email" placeholder="   " name="email">
                    </div>

                       
                    
                       <div class="form-group">
                        <label class="required form-label" for="contact_add">Contact address</label>
                       <input required  class="form-control"  type="text" id="contact_add" placeholder=" " name="contact_adress">
                        
                    </div>

                       

                    <div class="form-group">
                        <label  class="required form-label" for="enq">Enquiry</label>
                        

                        <textarea  required class="form-control"  name="enquiry" id="enq" cols="30" rows="7" style="resize:none" placeholder=" I wanted to ask about ........."></textarea>
 

                       </div>

                       <button type="submit" id=" " name="enquirybtn" class="btn btn-primary enqbtn">Submit</button>
                    
                    
                    
                    
                    
                    </div>
                
                    <!-- End Janrise Forms -->
                    

                </form>
            </div>
            <!--.col-* -->

        </div>
    </div>
</section>

<section class="ls s-pt-80 s-pb-80 s-pb-lg-120 s-pb-xl-160 background-gradient advantage-section cover-background text-white">
    <div class="container">

        <div class="row c-mb-50 c-mb-lg-0">
            
            <div class="col-sm-12 animate pullDown"  style="margin-top: 70px; margin-bottom: 80px;">
                <div class="icon-box text-center">
                    <h1 class="text-uppercase"><a href="tel:130000" style="color: #fff;"><i class="fa fa-phone-square"></i> 1300 00 UTEL</a>, <a href="tel:1300008835" style="color: #fff;">1300 008 835 </a></h1>
                </div>
            </div>
            
            <div class="col-sm-12 animate pullDown" >
                <div class="icon-box text-center">
                    <div class="icon-styled color-main fs-56 mb-20">
                        <a href="https://goo.gl/maps/o1Txi73pze2goAa57" target="_blank"><i class="fa fa-map-marker"></i></a>
                    </div>
                    <p>
                        <strong>Victoria</strong><br>
                        <p>Quick software solutions Australia Pty Ltd <br>PO Box 1090 <br>Sunshine West, Vic 3020</p>
                    </p>
                    
                    
                    <h4 class="text-white" style="line-height: 40px;">We currently operate in victoria, queensland, new south wales, western australia & south australia</h4>
                    
                </div>
            </div>
            

            
        </div>

        
    </div>
</section>
<script src="js/contact_form.js" type="text/javascript"></script>

<!-- content part ends  -->
<%- include("partials/footer"); -%>