<%- include("partials/header"); -%>

<%- include("partials/scrollanimation"); -%>

<!-- content part starts  -->
<section class="ls s-pt-75 s-pb-80 s-pb-lg-100 about-section text-center text-lg-left">
    <div class="d-none d-lg-block divider-10"></div>
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-12 order-1 order-lg-1" style="margin-bottom: 70px;">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <h3>Refer a friend, get rewarded!</h3>
                    <p class="big">Do you know someone who should be using Dialpad? Refer a friend to Dialpad and get cash rewards when they become a customer:</p>
                </div>
            </div>
            

            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <div class="row text-center">
                        <div class="col-lg-12 mb-40">
                            <img class="w-50" src="../images/customer-referral.png" alt="Utelecom" />
                        </div>
                        <div class="col-lg-4">
                            <h4 class="m-0">$250</h4>
                            <p>1-25 licences</p>
                        </div>
                        <div class="col-lg-4">
                            <h4 class="m-0">$500</h4>
                            <p>26-100 licences</p>
                        </div>
                        <div class="col-lg-4">
                            <h4 class="m-0">$1,000</h4>
                            <p>100+ licences</p>
                        </div>
                    </div>
                    
                    <h4 class="mt-50">Terms and Conditions</h4>
                    <div id="accordion01" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab" id="collapse01_header">
                                <h5>
                                    <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Eligibility for participation 
                                    </a>
                                </h5>
                            </div>
                            
                            <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
                                <div class="card-body">
                                    <ul>
                                        <li>Utelecom customers/ employees of Utelecom’s customers</li>
                                        <li>People above 18 years</li>
                                        <li>No restrictions on location</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" role="tab" id="collapse02_header">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Should you know your referrals?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01" >
                                <div class="card-body">
                                    <ul>
                                        <li>Yes, submitted referrals should be known contacts.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" role="tab" id="collapse03_header">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        What does a qualified referral mean?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion02" >
                                <div class="card-body">
                                    <ul>
                                        <li>A named contact within a company (determined by Utelecom) that has an interest in purchasing 11+ seats of any Utelecom’s services (Talk, Sell, and Contact Center, excluding Utelecom Meetings).</li>
                                        <li>Individuals cannot refer themselves or their colleagues within their own company.</li>
                                        <li>All individuals are requested to check their company’s policies before participating in Utelecom’s Referral Program.</li>
                                        <li>Utelecom reserves the right to deem any referrals ineligible for the promotion if there is a plausible indication of invalidity of such referral, subjected to Utelecom’s sole discretion.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" role="tab" id="collapse04_header">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Receiving rewards
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion03" >
                                <div class="card-body">
                                    <ul>
                                        <li>After the referral, if your referral contact is a customer for 90 billable days and has promptly finished their payments, Utelecom will mail a cheque to you, in the appropriate amount based on the number of seats you have purchased.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" role="tab" id="collapse06_header">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse06" aria-expanded="false" aria-controls="collapse06">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Referral limits
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="collapse06_header" data-parent="#accordion05" >
                                <div class="card-body">
                                    <ul>
                                        <li>There are no limits to the referrals you can give, but there is a reward cap of $5,000 per person/company, per year.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" role="tab" id="collapse08_header">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" href="#collapse08" aria-expanded="false" aria-controls="collapse08">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Self sign up
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse08" class="collapse" role="tabpanel" aria-labelledby="collapse08_header" data-parent="#accordion07" >
                                <div class="card-body">
                                    <p>Please fill the details on the right.</p>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>								
                    
                </div>
            </div>						
            
            <div class="col-12 col-lg-6 order-2 order-lg-3">
                <div class="about-image">
                    <!-- Janrise Forms -->
                    <div id="c23">
                        Fill out my <a href="http://janrise.in/forms/app/form?id=7KJkkw">online form</a>.
                    </div>
                    <script type="text/javascript">
                        (function(d, t) {
                            var s = d.createElement(t), options = {
                                'id': '7KJkkw',
                                'container': 'c23',
                                'height': '1268px',
                                'form': '//janrise.in/forms/app/embed'
                            };
                            s.type= 'text/javascript';
                            s.src = '//janrise.in/forms/static_files/js/form.widget.js';
                            s.onload = s.onreadystatechange = function() {
                                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                                try { (new EasyForms()).initialize(options).display() } catch (e) { }
                            };
                            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                        })(document, 'script');
                    </script>
                    <!-- End Janrise Forms -->
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<!-- content part ends  -->
<%- include("partials/footer"); -%>