<%- include("partials/header"); -%>

<%- include("partials/scrollanimation"); -%>

<!-- content part starts  -->

<section class="ls s-pt-75 s-pb-80 s-pb-lg-100 about-section text-center text-lg-left">
    <div class="d-none d-lg-block divider-10"></div>
    <div class="container">
        <div class="row align-items-center">						

            <div class="col-12 col-lg-12 order-1 order-lg-1" style="margin-bottom: 50px;">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <p class="big text-justify"><strong>The only phone built for sales - Warm up the cold call with HD quality plus real-time coaching powered by AI.</strong></p>
                </div>
            </div>	
            
            <div class="col-12 col-lg-6 order-2 order-lg-2">
                <div class="about-image">
                    <img src="images/dialpad_sell_leaderboards.png" alt="">
                </div>
            </div>

            <div class="col-12 col-lg-6 order-1 order-lg-3">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <h6>Sales Communication Platform</h6>
                    <p class="big text-justify">Video conferencing, dialer and SMS are all in one place. This ensures your data is connected and your team isn’t overwhelmed with tools.</p>
                    
                    <h6>Real-time Sales Coaching</h6>
                    <p class="big text-justify">Use speech coaching to let sales reps know if they’re speaking too quickly, too slowly, using too many filler words, or talking too much.</p>
                    
                    <h6>Post-Call Analytics</h6>
                    <p class="big text-justify">Uncover insights and best practices with call analytics and dashboards.</p>
                    
                    <h6>CRM Integration</h6>
                    <p class="big text-justify">Autolog calls, transcripts, and notes to your CRM so no data is lost.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ls s-pt-75 s-pb-80 s-pb-lg-100 about-section text-center text-lg-left">
    <div class="d-none d-lg-block divider-10"></div>
    <div class="container">
        <div class="row align-items-center">	
            
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="about-image">
                    <img src="images/dialpad_sell_results.png" alt="">
                </div>
            </div>

            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <h6>Objection Handling</h6>
                    <p class="big text-justify">Voice Intelligence helps reps say the right thing on a call with battle cards that display in real-time.</p>
                    
                    <h6>Coaching Groups</h6>
                    <p class="big text-justify">See any call’s sentiment, jump in and assist reps, save at-risk deals, and identify the best coaching opportunities.</p>
                    
                    <h6>Voice Intelligence</h6>
                    <p class="big text-justify">Voice Intelligence uses Speech Recognition to transcribe calls; Natural Language Processing to analyze; and Machine Learning to provide intelligent recommendations–all in real-time.</p>
                    
                    <h6>Phones & Headsets</h6>
                    <p class="big text-justify">Dialpad supports a wide range of phone handsets, and we offer several models directly to our customers who need a one-stop shop.</p>
                </div>
                
                <div class="plan-button mt-40">
                    <a href="/contact_Quick_software_solutions" class="btn btn-maincolor"><span>Get Started</span></a>
                </div>
            </div>	
            
        </div>
    </div>
</section>

<!-- content part ends  -->
<%- include("partials/footer"); -%>