<%-include("partials/header"); -%>



</div>



<section class="page_slider">
    <!--<div id="particles-js"></div>-->
    <div class="flexslider" data-nav="false">
        <ul class="slides">
            <li class="ds slide1 activeslide " id="hoverslide">
                <img src="images/slide01.jpg" alt="Quick software solutions">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer fadeInRight" >
                                        <h1 class="intro_featured_word"><a href="contact-utel.html">To witness the<br> extraordinary<br> speed</a></h1>
                                        <!--<h5 class="intro_before_featured_word intro-absolute text-uppercase fw-200">
                                            Best Internet Service<br> Provider In Country
                                        </h5>-->
                                    </div>
                                    <div class="intro_layer fadeInUp" >
                                        <p class="intro_after_featured_word text-lowercase"><a href="contact-utel.html">Get Started</a></p>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container -->
            </li>
            <li class="ds slide2" id="hoverslide">
                <img src="images/slide02.jpg" alt="Quick software solutions">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer fadeInRight" >
                                        <h1 class="slide2 intro_featured_word"><a href="contact-utel.html">For a <br>limitless <br>experience</a></h1>
                                        <!--<h5 class="fw-300 text-uppercase intro_before_featured_word intro-absolute">
                                            Leased Line Internet<br> with A+ Category
                                        </h5>-->
                                    </div>
                                    <div class="intro_layer fadeInUp" >
                                        <p class="text-lowercase intro_after_featured_word"><a href="contact-utel.html">Get Started</a></p>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container -->
                <div class="social-flex">
                    <p class="social-heading">
                        follow
                    </p>
                    <p class="social-icons">
                        <a href="https://www.facebook.com/Quick software solutionsaus" target="_blank" class="fa fa-facebook color-white" title="facebook"></a>
                        <a href="https://www.linkedin.com/company/Quick software solutions-australia-pty-ltd" target="_blank" class="fa fa-linkedin color-white" title="linkedin"></a>
                        <a href="https://www.instagram.com/Quick software solutionsaus/" target="_blank" class="fa fa-instagram color-white" title="instagram"></a>
                    </p>
                </div>
            </li>
            <li class="ds slide3" id="hoverslide">
                <img src="images/slide03.jpg" alt="Quick software solutions">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer fadeInRight" >
                                        <h1 class="slide2 intro_featured_word"><a href="contact-utel.html">One <br>click for <br>everything</a></h1>
                                        <!--<h5 class="intro-absolute fw-300 text-uppercase intro_before_featured_word">
                                            Speeds Up to 1 Gbps<br> with Unlimited Data
                                        </h5>-->
                                    </div>
                                    <div class="intro_layer fadeInUp" >
                                        <p class="text-lowercase intro_after_featured_word"><a href="contact-utel.html">Get Started</a></p>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container -->
            </li>
            <li class="ds slide4" id="hoverslide">
                <img src="images/slide04.jpg" alt="Quick software solutions">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer fadeInRight" >
                                        <h1 class="slide2 intro_featured_word"><a href="#">Dialpad</a></h1>
                                        <h3 class="slide2 intro_featured_word"><a href="#">work from <br>anywhere</a></h3>
                                        <!--<h5 class="intro-absolute fw-300 text-uppercase intro_before_featured_word">
                                            Speeds Up to 1 Gbps<br> with Unlimited Data
                                        </h5>-->
                                    </div>
                                    <div class="intro_layer fadeInUp">
                                        <p class="text-lowercase intro_after_featured_word"><a href="dialpad-talk.html">Get Started</a></p>
                                    </div>
                                </div> <!-- eof .intro_layers -->
                            </div> <!-- eof .intro_layers_wrapper -->
                        </div> <!-- eof .col-* -->
                    </div><!-- eof .row -->
                </div><!-- eof .container -->
            </li>
        </ul>
        <ol class="flex-control-nav flex-control-paging"><li><a href="#hoverslide" class="slideswitch flex-active">1</a></li><li><a href="#hoverslide" class="slideswitch ">2</a></li><li><a href="#hoverslide" class="slideswitch ">3</a></li><li><a href="#hoverslide" class="slideswitch ">4</a></li></ol>

    </div> <!-- eof flexslider -->
    <div class="ds social-flex">
        <p class="social-heading">
            follow
        </p>
        <p class="social-icons">
            <a href="https://www.facebook.com/Quick software solutionsaus" target="_blank" class="fa fa-facebook color-white" title="facebook"></a>
            <a href="https://www.linkedin.com/company/Quick software solutions-australia-pty-ltd" target="_blank" class="fa fa-linkedin color-white" title="linkedin"></a>
            <a href="https://www.instagram.com/Quick software solutionsaus/" target="_blank" class="fa fa-instagram color-white" title="instagram"></a>
        </p>
    </div>
    <div class="arrow">
        <img src="images/bottom.png" alt="Quick software solutions">
    </div>
    <div class="animated-arrow">
        <a href="#products">
            <div class="mouse_scroll">
                <span class=""><i class="color-main fa fa-angle-down unu"></i></span>
                <span class=""><i class="color-main fa fa-angle-down doi"></i></span>
                <span class=""><i class="color-main fa fa-angle-down trei"></i></span>
            </div>
        </a>
    </div>
</section>




<section class="s-pt-70 s-pb-130 s-pt-lg-130 s-pb-lg-160 s-pt-xl-130 s-pb-xl-160 about-section cover-background" id="about">
    <div class="container">
        <div class="d-block d-lg-none divider-5"></div>
        <div class="row c-gutter-60 align-items-center">
            <div class="col-xl-6 col-lg-6 col-lg-6 col-xs-12 order-2 order-lg-1 animate fadeInLeftBig">
                <div class="side-image">
                    <img src="images/about-image.png" width="880" alt="Quick software solutions">
                    <div class="d-block d-lg-none divider-10"></div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-lg-6 col-xs-12 order-1 order-lg-2">
                <div class="item-content text-center text-lg-left">
                    <h5 class="fw-200 text-lowercase">We Are</h5>
                    <h3 class="text-danger">Quick software solutions, a telco for your business</h3>
                    <p class="big text-justify">Quick software solutions offers unified telecommunications to the business market with their specific needs and demands in mind. we are dedicated to offer the products that cater to your specific requirements.<br><br>

                    We are a small telco that has you at the center of our offerings. we know major telco companies can become hard to deal with. we also understand that you are way too busy to waste your valuable time. so, at Quick software solutions our objective is to make things happen for you.<br><br>

                    With access to the most advanced products and services across all technologies and capabilities, Quick software solutions can create the impeccable tailored solution, just for you.</p>
                    <div class="d-flex justify-content-between mt-50">
                        <a class="btn btn-white" href="/about_Quick_software_solutions"><span>Read More</span></a>
                        <!-- <img src="images/signature2.png" alt="Quick software solutions">  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block divider-35"></div>
</section>


<section class="ds s-pt-80 s-pb-20 s-pt-lg-130 s-pb-lg-70 s-pt-xl-160 s-pb-xl-100 c-gutter-60 c-mb-50 background-gradient advantage-section cover-background" id="products">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 animate text-center fadeInUp" >
                <h2>Our Products</h2>
            </div>

            <div class="col-xl-3 col-md-6 animate fadeInUp" >
                <div class="icon-box text-center">
                    <a href="/swift_fibre"><div class="image-styled">
                        <img alt="Quick software solutions" src="images/data.png">
                    </div>
                    <h5>
                        Data
                    </h5></a>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-md-6 animate fadeInUp" >
                <div class="icon-box text-center">
                    <a href="/dialpad_talk"><div class="image-styled">
                        <img alt="Quick software solutions" src="images/dial-pad.png">
                    </div>

                    <h5>
                        Dialpad
                    </h5></a>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-md-6 animate fadeInUp" >
                <div class="icon-box text-center">
                    <a href="/business_sip_voice"><div class="image-styled">
                        <img alt="Quick software solutions" src="images/voice.png">
                    </div>

                    <h5>
                        Voice
                    </h5></a>
                </div>
            </div><!-- .col-* -->
            <div class="col-xl-3 col-md-6 animate fadeInUp" >
                <div class="icon-box text-center">
                    <a href="/cloud_services"><div class="image-styled">
                        <img alt="Quick software solutions" src="images/managed_services.png">
                    </div>

                    <h5>
                        Managed Services
                    </h5></a>
                </div>
            </div><!-- .col-* -->
            <!-- .col-* -->
            <div class="d-none d-lg-block divider-small"></div>

        </div>
    </div>
</section>


<script src="js/home.js" type="text/javascript"></script>












<%- include("partials/footer"); -%>