<%- include("partials/header"); -%>

<%- include("partials/scrollanimation"); -%>

<!-- content part starts  -->
<section class="ls s-pt-75 s-pb-80 s-pb-lg-100 about-section text-center text-lg-left">
    <div class="d-none d-lg-block divider-10"></div>
    <div class="container">
        <div class="row align-items-center">
            <!--<div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="about-image">
<<<<<<< HEAD
                    <img src="../images/nbn.jpg" alt="">
=======
                    <img src="images/nbn.jpg" alt="">
>>>>>>> 287e9c84ab93cee5357b9ffa47e3c30ea73ba811
                </div>
            </div>-->

            <div class="col-12 col-lg-12 order-1 order-lg-2">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <p class="big text-justify">Quick software solutions business fibre internet is a premium, high performance service that provides the speed and bandwidth that is crucial for modern, data hungry businesses.<br><br>
                        
                    Gigabit fibre, fibre 400 and other bandwidths are available.<br><br>
                        
                    Get cost-effective enterprise-grade connectivity by choosing Quick software solutions’s business fibre product that offers symmetric fibre connectivity. Its flexible nature means that it can be tailored to suit your business, so you can use the entire bandwidth on internet or split it between up to 4 products such as cloud services or business ipvoice. Our customers have been extremely happy with the speed of this product at an affordable price.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ds s-pt-20 s-pb-20  background-gradient advantage-section cover-background">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <p class="big text-justify">Our Business Fibre internet services connect you more directly to the cloud content and applications you use.<br><br>
                        
                    Dedicated bandwidth gives you predictable, rapid performance for a great user experience – so that you can collaborate with ease.</p>
                    
                </div>
            </div>
            
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="about-image">
<<<<<<< HEAD
                    <img src="../images/nbn_internet.png" alt="">
=======
                    <img src="images/nbn_internet.png" alt="">
>>>>>>> 287e9c84ab93cee5357b9ffa47e3c30ea73ba811
                </div>
            </div>
            
        </div>
    </div>
</section>



<section class="ls s-pt-75 s-pb-80 s-pb-lg-100 about-section text-center text-lg-left">
    <div class="d-none d-lg-block divider-10"></div>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-lg-12 order-1 order-lg-2">
                <div class="d-none d-lg-block divider-20"></div>
                <div class="item-content">
                    <h3>Swift Enterprise Ethernet!</h3>
                    <p class="big text-justify">Where previously customers were limited to carrier fibre in metro areas, nbn™ enterprise ethernet business fibre is broadly available in most of the nbn™ fixed line footprint. So now most businesses including regional business can get cost effective fibre internet services from 50/50mbps, all the way up to gigabit internet with 1000/1000mbps speeds using nbn™enterprise ethernet.<br><br>
                        
                    nbn™ is making business-grade fibre more accessible, delivering on-request plus fibre upgrades to business nbn™ enterprise ethernet to more businesses than ever before.  nbn™is also levelling the playing field by improving the availability of fibre builds and flattening traditional pricing structures that typically favoured capital city centres.</p>
                    
                </div>
                
                <div class="plan-button mt-40">
                    <a href="/contact_Quick_software_solutions" class="btn btn-maincolor"><span>Get Started</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- content part ends  -->
<%- include("partials/footer"); -%>