

.enqbtn {
background-color: #883377 !important;
    border-color: #883377 !important;
    font-size: 16px !important;
    height: 50px!important;
    padding: 4px!important;
    width: 114px!important;
    margin-top: 15px important;
    border-radius: 15px !important;
}
.alertmsg{
    
    position: fixed;
    width: 30%;
    height: 41.5%;
    background: hsl(291, 47%, 13%);
    border-radius: 24%;
    /* display: none; */
    display: none;
    left: 36%;
    top: 28%;
    z-index: 70;

}


.exitalert{
    position: absolute;
    left: 80%;
    top: 12%;
    font-size: 38px;
    color: #ffffff;
    font-weight: 600;
    line-height: 37px;
    cursor: pointer;
    
}
.alertbg{
    text-align: center;
    position: relative;
    top: 41%;
    left: 5%;
    font-weight: bolder;
    font-size: larger;
    color: white;
    background: url(https://media.giphy.com/media/KZG1cGqsUZw6Hefavb/giphy.gif);
    width: 425px;
    height: 136px;
    transition-delay: 4s;
}
@keyframes fadeInUpd {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUpdelay {
	-webkit-animation-name: fadeInUpd;
	-moz-animation-name: fadeInUpd;
	-o-animation-name: fadeInUpd;
	animation-name: fadeInUpd;
    animation-delay: 3s;

}

/* hiding arrow in input type number  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.activeslide{
    width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
    opacity: 1 !important;
    display: block !important;
    z-index: 5 !important;
    
}
/* for nav bar  */
.submenuli{
display:none;
margin-top: 5px;
}
.submenu-active{
    display: block !important;;
    margin-top: 0px !important;
}

/* definining classes used for alignment with bootstrap 
 

*/

/* .text-md-left{
    text-align: left !important;
} */

.text-justify{text-align:justify!important}.text-nowrap{white-space:nowrap!important}.text-truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.text-left{text-align:left!important}.text-right{text-align:right!important}.text-center{text-align:center!important}@media (min-width:576px){.text-sm-left{text-align:left!important}.text-sm-right{text-align:right!important}.text-sm-center{text-align:center!important}}@media (min-width:768px){.text-md-left{text-align:left!important}.text-md-right{text-align:right!important}.text-md-center{text-align:center!important}}@media (min-width:992px){.text-lg-left{text-align:left!important}.text-lg-right{text-align:right!important}.text-lg-center{text-align:center!important}}@media (min-width:1200px){.text-xl-left{text-align:left!important}.text-xl-right{text-align:right!important}.text-xl-center{text-align:center!important}}.text-lowercase{text-transform:lowercase!important}.text-uppercase{text-transform:uppercase!important}.text-capitalize{text-transform:capitalize!important}.font-weight-light{font-weight:300!important}.font-weight-normal{font-weight:400!important}.font-weight-bold{font-weight:700!important}.font-italic{font-style:italic!important}.text-white{color:#fff!important}.text-primary{color:#007bff!important}a.text-primary:focus,a.text-primary:hover{color:#0062cc!important}.text-secondary{color:#6c757d!important}a.text-secondary:focus,a.text-secondary:hover{color:#545b62!important}.text-success{color:#28a745!important}a.text-success:focus,a.text-success:hover{color:#1e7e34!important}.text-info{color:#17a2b8!important}a.text-info:focus,a.text-info:hover{color:#117a8b!important}.text-warning{color:#ffc107!important}

/* styling of logo  */

/* styling of the preloader  */

.preloadericon{
    display:flex ;
    /* flex-direction:column !important; */
    /* background-color:white !important; */
    z-index: 9999;
    position: fixed;
    left: 38%;
    top: 43%;
  }
  .dot{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:rgb(255, 0, 238);
    left:10%;
    top:50%;
    position:relative;
    animation:scaling 2.5s ease-in-out infinite;

    /* separting dots apart  */
    margin-right: 25px;
  }
  
  @keyframes scaling{
    0%,100%{
      transform:scale(0.2);
        background-color: #30FFB7;
    }
    70%{
      transform:scale(1);
      background-color: #07DEFF;
    }
    80%{
      transform:scale(1);
      background-color: #0761FF;
    }
    
  }
  
  /* adding animation delay to the div by getting all one by one by nth child method  */
  
  .dot0{
    animation-delay:0s;
  }
  .dot1{
    animation-delay:0.2s;
  }
  .dot2{
    animation-delay:0.4s;
  }
  .dot3{
    animation-delay:0.6s;
  }
  .dot4{
    animation-delay:0.8s;
  }
  .dot5{
    animation-delay:1s;
  }
  

  /* styling working hours  */

  .whrs{
font-size: 18px !important;
cursor: pointer;


  }

  .whrs:hover{
color:#28a745;
font-size: 20px !important;
  }

  /* pop class to toggle workhours whenever workhours text is clicked  */

.pop{
  display: block !important;
}

/* pop up for working hours  */
.whrspop{
  position: fixed;
  width: 50%;
  height: 69.5%;
  background: hsl(291, 47%, 13%);
  border-radius: 15%;
  /* display: none; */
  display: none;
  left: 22%;
  top: 12%;
  z-index: 9999;
}

/* exit whrs  */

.exitwhrs{
  position: absolute;
  left: 86%;
  top: 4%;
  font-size: 38px;
  color: #ffffff;
  font-weight: 600;
  line-height: 37px;
  cursor: pointer;
  
}

.whrsbg{
  text-align: center;
  position: relative;
  top: 10%;
  /* left: 5%; */
  font-weight: bolder;
  font-size: larger;
  color: white;
  transition-delay: 4s;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.day-flex{

  justify-content: flex-start;
  min-width: 300px;


}

.hr-flex{

  justify-content: flex-end;
  min-width: 300px;
 


}

/* styling workhours pop up for very small devices  */

@media (max-width: 575.98px) {
 
  
}



  /* styling working hours  */